<main>

  <a href="/">Back</a>

  {{#with post}}
  <header>
    <h1>{{title}}</h1>
    <mark>{{tags}}</mark>
  </header>

  <section>
    {{{htmlify text}}}
  </section>
  {{/with}}

  {{#if related}}
    <aside><ul>
      {{#each related}}
      <li><a href="{{uri}}">{{title}}</a></li>
      {{/each}}
    </ul></aside>
  {{/if}}

</main>
