<nav><a href="/yamb">Admin panel</a></nav>

<hr>

<main>

  <a href="/">Back</a>

  {{#with post}}
  <header>
    <h1>{{title}}</h1>
    <span>{{{formatdate created}}}; tags: {{tags}}; </span>
  </header>

  <section>
    {{{htmlify text}}}
  </section>
  {{/with}}

  {{#if related}}
    <aside>
      <h3>Realted posts</h3>
      <ul>
        {{#each related}}
        <li><a href="{{uri}}">{{title}}</a></li>
        {{/each}}
      </ul>
    </aside>
  {{/if}}

</main>
